/* 
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
} */



/* body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    /* background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
} */ 

nav{
    background: #5BC7C7;
    float: top;
}
.navbar-brand{
    font-weight: bolder;
    font-size: 40px;
}
.jumbotron{
    padding:15px;
    background: #96C0FF;
}

.display-3{
    font-size: 25px;
}
h1{
    display:block;
}
.navbar-toggler{
    background-color: #37788C;
}
.itemImage{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.center {
    margin: auto;
    width: 100%;
    padding: 15px;
}
.card{
    padding:0px;
}
.row{
    margin: auto;
}
.search-bar{
    background-color: #FFF1CE;
    border: 1px solid #D1C346;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.search-bar:focus{
    background-color: rgb(255, 226, 153);
    border: 1px solid #F3C245;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search-btn{
    background-color: #FFD25F;
    border: #FFD25F;
}
.search-btn:hover{
    background-color: #F3C245;
}
.jumbotron{
    padding: 10px;
}




  
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row:after {
  content: "";
  clear: both;
  display: table;

}

#ok{
    height: 200;
    position: absolute;
    left:475px;
    top: 100px;



}

.fakeimg {
    height: 50px;
    background: lightgrey;
    position: absolute;
    left: 300px;
    top: 100px;

  }


  #bio{
    width: 400px;
    height: 200px;
    background: #F4F4F4;   
    position: absolute;
    left: 550px;
    top: 350px;
    text-align: center
    


  }

  #lit{

    position: absolute;
    width: 250px;
    height: 250px;
    left: -10px;
    top: 200px;
      }

#name{
    position: absolute;
    left: 575px;
    top: 205px;
    font-size: 40px;
    
}

#bday{
    position: absolute;
    left: 575px;
    top: 275px;
    
}

#wish{
    position: absolute;
    left: 573px;
    top: 325px;
    
}

#followers{
    position: absolute;
    left:825px;
    top: 325px;
    
}